<div class="player">
	<div class=" btn-group btn-group-justified" role="group">
			<div class="btn-group" role="group">
				<button  class="player__backward btn btn-default"(click)="backward.emit()"><i class="fa fa-backward"><</i></button>

			</div>
			<div class="btn-group" role="group">
				<button class="player__paused btn btn-default" *ngIf="paused" (click)="pauseplay.emit()"><i class="fa fa-pause">pause</i></button>
				<button class="player__notpaused btn btn-default" *ngIf="!paused" (click)="pauseplay.emit()"><i class="fa fa-play"> Play</i></button>
			</div>
			<div class="btn-group" role="group">
				<button class="player__stop btn btn-default" (click)="stop.emit()"><i class="fa fa-stop">[]</i></button>
			</div>
			<div class="btn-group" role="group">
				<button class="player__forward btn btn-default" (click)="forward.emit()"><i class="fa fa-forward"> > </i></button>
			</div>
	</div>
</div>
