/*Navy blue*/
$navy-color: #18121E;

/*Gunmetal*/
$gunmetal-color: #1d1625; /*#233237;*/

/*Rusty Red*/
$rustyred-color: #984B43;

/*Warm Yellow*/
$warmyellow-color: #EAC67A;

$inverted-color: #e7ede1;

$size:100px;

$bootstrap-sass-asset-helper: true;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
