@import './../../sass/_variables.scss';

h1{
  color: $warmyellow-color;
  margin-bottom: 50px;
}

ul{
  width: 80%;
}

// #left{
//   width: 40%;
//   display:inline-block;
//   float: left;
//   // padding: 5px;
// }

// #righ{
//   width: 40%;
//   display:inline-block;
//   padding: 5px;
//   float: left;
// }

#top{
  margin-bottom: 20px;
  width: 80%;
}

.hideoption {
  display:none;
  visibility:hidden;
  height:0;
  font-size:0;
}
