<h1>{{title}}</h1>

<div id="top">
  <!-- <select *ngFor="let item of playlist" class="list-group-item" [class.active]="item === selectedItem" (click)="onSelectP(item)"> -->
  <!-- <select class="form-control" ng-model="selection" (change)="changed($event.target.value)">
    <option value="Add to playlist" selected class="hideoption">Choose a playlist</option>
    <option *ngFor="let item of playlist" value={{item.id}}>{{item.name}}</option>
  </select> -->
  <ul class="list-group" *ngIf="playlist.length">
    <li *ngFor="let item of playlist" class="list-group-item" [class.active]="item === selectedPlaylist" (click)="onSelectP(item)">
      {{item.name}}
      <button type="button" class="removeItem" (click)="removePlaylist(item.id)">x</button>
    </li>
    <li class="list-group-item">
      <input type="text " class="inputInList " [(ngModel)]="newPlaylistName">
      <button type="button " class="addItem" (click)="addPlaylist()" *ngIf="newPlaylistName" data-ng-model="New Playlist">+</button>
    </li>
  </ul>
  <ul class="list-group" *ngIf="!playlist.length">
    <li class="list-group-item">
      <input type="text " class="inputInList " [(ngModel)]="newPlaylistName">
      <button type="button " class="addItem" (click)="addPlaylist()" *ngIf="newPlaylistName" data-ng-model="New Playlist">+</button>
    </li>
  </ul>
</div>

<div id=" right ">
  <!-- <ul class="list-group ">
    <li *ngFor="let item of songs " class="list-group-item " [class.active]="item===s electedSong " (click)="onSelectS(item) ">
      {{item.name}}
    </li>
  </ul> -->
  <table class="table " *ngIf="songs.length ">
    <tr>
      <th>Song Title</th>
      <th>Artist</th>
      <th></th>
    </tr>
    <tr *ngFor="let song of songs; let i=index ">
      <td (click)="play(i) ">{{song.title}}</td>
      <td (click)="play(i) ">{{song.authors}}</td>
      <td><button type="button " class="btn btn-danger " (click)="removeS(i) ">x</button></td>
    </tr>
  </table>
</div>