@import './../../sass/_variables.scss';

h1{
  color: $warmyellow-color;
  margin-bottom: 50px;
}

ul{
  width: 80%;
}

#top{
  margin-bottom: 20px;
  width: 80%;
}

.hideoption {
  display:none;
  visibility:hidden;
  height:0;
  font-size:0;
}

tr:hover{
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.22);
  border-radius: 4px;
}

tr{
  color: $warmyellow-color;
}

td{
  vertical-align: middle !important;
  color: $inverted-color;
}

.inputInList{
  border: none;
  background-color: transparent;
  width: 80%;
}

textarea:focus, input:focus{
    outline: none;
}

.addItem{
  float: right;
  text-align:center;
  vertical-align: middle;
  // border-radius: 15px;
  padding: 2px 7px 2px 7px;
  width: 25px;
  height: 25px;
}

.removeItem{
  float: right;
  text-align:center;
  vertical-align: middle;
  // border-radius: 15px;
  padding: 2px 7px 2px 7px;
  width: 25px;
  height: 25px;
}
