<!-- <div class="container">
  <div class="col-xs-6">
    <ul>
      <li class=" btn " routerLink="search">Search</li>
    </ul>
    <!-- <nav class=""> -->

    <!-- </nav> -->
<!--   </div>
</div> -->

 <!-- Container for sidebar(s) + page content -->
    <!-- <ng-sidebar-container> -->

      <!-- A sidebar -->
  <!--     <ng-sidebar #sidebar [position]="left"  [mode]="_MODES[_modeNum]" [showBackdrop]="_showBackdrop">
        <ul>
          <li class=" btn " routerLink="search">Search</li>
           <li class=" btn " routerLink="playlist">Playlists</li>
        </ul>
      </ng-sidebar>
 -->

<!-- <md-sidenav #sideNav mode="push" class="md-sidenav-left" >


<li class=" btn " routerLink="search">Search</li>
<li class=" btn " routerLink="playlist">Playlists</li>
</md-sidenav> -->


<!--  <md-sidenav  mode="push" opened="true" md-component-id="left" class="md-sidenav-left" md-is-locked-open="true">
      <li class=" btn " routerLink="search">Search</li>
<li class=" btn " routerLink="playlist">Playlists</li>
    </md-sidenav> -->



      <!-- Page content -->
     <!--  <div ng-sidebar-content>
        <button (click)="_toggleSidebar()">Toggle sidebar</button>
      </div> -->

    <!-- </ng-sidebar-container> -->



 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MusicApp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    
      <ul class="nav navbar-nav">
       <li class=" btn " routerLink="search">Search</li>
        <li class=" btn " routerLink="playlist">Playlists</li>
  
      </ul>
    <!-- </div>/.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


