<!-- <div class="container">
  <div class="col-xs-6">
    <ul>
      <li class=" btn " routerLink="search">Search</li>
    </ul>
    <!-- <nav class=""> -->

    <!-- </nav> -->
<!--   </div>
</div> -->

 <!-- Container for sidebar(s) + page content -->
    <ng-sidebar-container>

      <!-- A sidebar -->
      <ng-sidebar #sidebar [position]="left"  [mode]="slide" [showBackdrop]="_showBackdrop">
        <ul>
          <li class=" btn " routerLink="search">Search</li>
           <li class=" btn " routerLink="playlist">Playlists</li>
        </ul>
      </ng-sidebar>

      <!-- Page content -->
     <!--  <div ng-sidebar-content>
        <button (click)="_toggleSidebar()">Toggle sidebar</button>
      </div> -->

    </ng-sidebar-container>
