@import './../../sass/_variables.scss';

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;
  color: $inverted-color;
}

nav{
  height: 100vh;
  width:100%;
  background-color: $navy-color;
  border-color:$navy-color;
}


