@import './../../sass/_variables.scss';

input{
  width: 90%;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

h1{
  color: $warmyellow-color;
}

button{
  width: 90%;
  text-align: center;
  margin: 10px;
}

button:focus{
  outline:0 !important;
}

tr:hover{
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.22);
  border-radius: 4px;
}

tr{
  color: $warmyellow-color;
}

td{
  vertical-align: middle !important;
  // height: 5px;
  // line-height:5px;
  color: $inverted-color;
}

.hideoption {
  display:none;
  visibility:hidden;
  height:0;
  font-size:0;
}
