<h1>
    {{title}}
</h1>
<input #sParam type="text"><br>
<button (click)="search(sParam.value)" class="btn btn-secondary">Search</button><br>
<br>
<template *ngIf="songs.length">
  <table class="table">
    <tr>
      <th>Song Title</th>
      <th>Artist</th>
      <th></th>
    </tr>
    <tr *ngFor="let song of songs; let i = index" (click)="play(i)">
      <td>{{song.name}}</td>
      <td>{{song.artist}}</td>
      <td>
        <select class="form-control" ng-model="selection" (change)="changed()">
          <option value="Add to playlist" selected class="hideoption">Add to playlist</option>
          <option *ngFor="let item of playl" value={{item}}>{{item}}</option>
        </select>
      </td>
    </tr>
  </table>
<template>

<!-- <p-autoComplete
  [ngModel]="song"
  [suggestions]="songs"
  (completeMethod)="search($event)"
  (onSelect)="select($event)"
  field="title"
>
  <template let-song>
    <div class="">
      <img src="{{song.cover_url}}" class=""/>
      <div class="text">{{song.title}}</div>
    </div>
  </template>
</p-autoComplete> -->
